@{
    ViewBag.Title = "Home Page";
}

@*Code mẫu của tedu
https://hoanguyenit.com/aspnet-mvc5-using-dbcontext-connect-database.html
F:\MVC\onlineshop-master\onlineshop-master_demo*@

<div class="row">
   @Html.Raw(ViewBag.Hienthi)
</div>